header {
  display: flex;
  padding-top: 110px;
  padding-bottom: 0px;
  height: 550px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00c990;
  background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
}